In [182]:
import pandas as pd

In [183]:
df = pd.read_csv('../data/updated_visualization.csv')
df_upozila = pd.read_csv('../data/upazila.csv')
print(df.head())

   Unnamed: 0 Type_of_test Name_Of_The_Institution        Union          Ward  \
0           1          BSE                   EKATA  200351675.0  2.003517e+09
1           2          BSE                   EKATA  200351675.0  2.003517e+09
2           3          RDT                   EKATA  200351476.0  2.003515e+09
3           4          RDT                   EKATA  200351476.0  2.003515e+09
4           5          RDT                   EKATA  200351275.0  2.003513e+09

   AP_CODE  Patient_Age  Patient_Weight Patient_Gender  Occupation  ...  \
0      486           36            57.0           Male  Woodcutter  ...
1      480           48            56.0           Male  Woodcutter  ...
2      395            6            15.0           Male       Other  ...
3      445           27            50.0           Male  Woodcutter  ...
4      104            2            10.0           Male       Other  ...

  submission_time Case_identification Patient_comes_from Number_of_LLIN_House  \
0      2023-01-16                 PCD                 No                  3.0
1      2023-01-16                 PCD                 No                  4.0
2      2023-01-16                 ACD                 No                  2.0
3      2023-01-16                 ACD                Yes                  1.0
4      2023-01-16                 ACD                 No                  3.0

  Used_LLIN_15_days  Type agegroup   latitude  longitude   dt_filter
0               Yes  kobo    31-40  21.772007  92.221622  2023-01-16
1               Yes  kobo    41-50  21.772004  92.221635  2023-01-16
2               Yes  kobo      <10  21.777063  92.199523  2023-01-16
3               Yes  kobo    21-30  21.777039  92.199521  2023-01-16
4               Yes  kobo      <10  21.777032  92.199517  2023-01-16

[5 rows x 25 columns]

In [184]:
df['DIVISION'] = 'Chattogram'
df['DISTRICT'] = 'Chattogram'
print(df.head())

   Unnamed: 0 Type_of_test Name_Of_The_Institution        Union          Ward  \
0           1          BSE                   EKATA  200351675.0  2.003517e+09
1           2          BSE                   EKATA  200351675.0  2.003517e+09
2           3          RDT                   EKATA  200351476.0  2.003515e+09
3           4          RDT                   EKATA  200351476.0  2.003515e+09
4           5          RDT                   EKATA  200351275.0  2.003513e+09

   AP_CODE  Patient_Age  Patient_Weight Patient_Gender  Occupation  ...  \
0      486           36            57.0           Male  Woodcutter  ...
1      480           48            56.0           Male  Woodcutter  ...
2      395            6            15.0           Male       Other  ...
3      445           27            50.0           Male  Woodcutter  ...
4      104            2            10.0           Male       Other  ...

  Patient_comes_from Number_of_LLIN_House Used_LLIN_15_days  Type agegroup  \
0                 No                  3.0               Yes  kobo    31-40
1                 No                  4.0               Yes  kobo    41-50
2                 No                  2.0               Yes  kobo      <10
3                Yes                  1.0               Yes  kobo    21-30
4                 No                  3.0               Yes  kobo      <10

    latitude  longitude   dt_filter    DIVISION    DISTRICT
0  21.772007  92.221622  2023-01-16  Chattogram  Chattogram
1  21.772004  92.221635  2023-01-16  Chattogram  Chattogram
2  21.777063  92.199523  2023-01-16  Chattogram  Chattogram
3  21.777039  92.199521  2023-01-16  Chattogram  Chattogram
4  21.777032  92.199517  2023-01-16  Chattogram  Chattogram

[5 rows x 27 columns]

In [185]:
# in df_upozila dataset column UN_WA_C_O and in df dataset column Union if it same

In [186]:
df_upozila['UN_WA_C_O'] = df_upozila['UN_WA_C_O'].astype(str) + '.0'
print(df_upozila['UN_WA_C_O'].head())

0    20035115.0
1    20035115.0
2    20035115.0
3    20035115.0
4    20035115.0
Name: UN_WA_C_O, dtype: object

In [187]:
# df['UNION'] = df_upozila['UN_WA_C_O']
# print(df.head())

In [188]:
# Create a mapping from UN_WA_C_O to UN_WA_N_E
mapping = df_upozila.set_index('UN_WA_C_N')['UN_WA_N_E'].to_dict()

# Map the values to the Union column in df
df['UNION'] = df['Union'].map(mapping)

# Compare the values
# if df['UNION_MAPPED'].equals(df['Union']):
#     df['Union'] = df_upozila['UN_WA_N_E']
#     print('yes')
# else:
#     print('no')

print(df['UNION'])

0      Rupushipara
1      Rupushipara
2       Lama Sadar
3       Lama Sadar
4          Fythong
          ...
493    Rupushipara
494    Rupushipara
495    Rupushipara
496    Rupushipara
497    Rupushipara
Name: UNION, Length: 498, dtype: object

In [189]:
df['UNION'].value_counts()

UNION
Rupushipara        149
Lama Sadar         103
Gajalia             97
Sarai               79
Fasiakhali          51
Aziznagar           12
Lama Pourashava      6
Fythong              1
Name: count, dtype: int64

In [190]:
# Add new column 'upazila' to df dataset
df['UPAZILA'] = ''

In [191]:
# Define the list of UNION values that should map to UPAZILA = 'Lama'
union_values = ['Aziznagar', 'Fasiakhali', 'Gajalia', 'Lama Sadar', 'Rupushipara', 'Sarai','Fythong','Lama Pourashava']

# Update the UPAZILA column based on the condition
df.loc[df['UNION'].isin(union_values), 'UPAZILA'] = 'Lama'

# Print the updated dataframe to verify the changes
print(df[['UNION', 'UPAZILA']].head())

         UNION UPAZILA
0  Rupushipara    Lama
1  Rupushipara    Lama
2   Lama Sadar    Lama
3   Lama Sadar    Lama
4      Fythong    Lama

In [192]:
# Create a mapping from UN_WA_C_O to UN_WA_N_E
# mapping = df_upozila.set_index('UN_WA_C_O')['UN_WA_N_E'].to_dict()

# print(mapping)

# # Map the values to the UNION column in df
# df['UNION'] = df['Union'].map(mapping)
# print(df.head())

In [193]:
df.to_csv('updated_dataset.csv', index=False)