In [167]:
import pandas as pd

In [168]:
df = pd.read_csv('../data/visualization.csv')
# df_viz = pd.read_csv('../data/visualization.csv')
df_upozila = pd.read_csv('../data/upazila.csv')
print(df.head())

   Unnamed: 0 Type_of_test       Lab_Name Name_Of_The_Institution  \
0           1          BSE  Lama Mukh Lab                   EKATA
1           2          BSE  Lama Mukh Lab                   EKATA
2           3          RDT            NaN                   EKATA
3           4          RDT            NaN                   EKATA
4           5          RDT            NaN                   EKATA

         Union          Ward  AP_CODE  Patient_Age  Patient_Weight  \
0  200351675.0  2.003517e+09      486           36            57.0
1  200351675.0  2.003517e+09      480           48            56.0
2  200351476.0  2.003515e+09      395            6            15.0
3  200351476.0  2.003515e+09      445           27            50.0
4  200351275.0  2.003513e+09      104            2            10.0

  Patient_Gender  ... Lab_location_longitude Phone Date  Type agegroup  \
0           Male  ...              92.221622   NaN  NaN  kobo    31-40
1           Male  ...              92.221635   NaN  NaN  kobo    41-50
2           Male  ...                    NaN   NaN  NaN  kobo      <10
3           Male  ...                    NaN   NaN  NaN  kobo    21-30
4           Male  ...                    NaN   NaN  NaN  kobo      <10

  test_report test_treatment   latitude  longitude   dt_filter
0       0 day          1 day  21.772007  92.221622  2023-01-16
1       0 day          1 day  21.772004  92.221635  2023-01-16
2      2 days          1 day  21.777063  92.199523  2023-01-16
3      2 days          1 day  21.777039  92.199521  2023-01-16
4     4-7Days          1 day  21.777032  92.199517  2023-01-16

[5 rows x 39 columns]

In [169]:
df['DIVISION'] = 'Chattogram'
df['DISTRICT'] = 'Chattogram'
print(df.head())

   Unnamed: 0 Type_of_test       Lab_Name Name_Of_The_Institution  \
0           1          BSE  Lama Mukh Lab                   EKATA
1           2          BSE  Lama Mukh Lab                   EKATA
2           3          RDT            NaN                   EKATA
3           4          RDT            NaN                   EKATA
4           5          RDT            NaN                   EKATA

         Union          Ward  AP_CODE  Patient_Age  Patient_Weight  \
0  200351675.0  2.003517e+09      486           36            57.0
1  200351675.0  2.003517e+09      480           48            56.0
2  200351476.0  2.003515e+09      395            6            15.0
3  200351476.0  2.003515e+09      445           27            50.0
4  200351275.0  2.003513e+09      104            2            10.0

  Patient_Gender  ... Date  Type agegroup test_report test_treatment  \
0           Male  ...  NaN  kobo    31-40       0 day          1 day
1           Male  ...  NaN  kobo    41-50       0 day          1 day
2           Male  ...  NaN  kobo      <10      2 days          1 day
3           Male  ...  NaN  kobo    21-30      2 days          1 day
4           Male  ...  NaN  kobo      <10     4-7Days          1 day

    latitude  longitude   dt_filter    DIVISION    DISTRICT
0  21.772007  92.221622  2023-01-16  Chattogram  Chattogram
1  21.772004  92.221635  2023-01-16  Chattogram  Chattogram
2  21.777063  92.199523  2023-01-16  Chattogram  Chattogram
3  21.777039  92.199521  2023-01-16  Chattogram  Chattogram
4  21.777032  92.199517  2023-01-16  Chattogram  Chattogram

[5 rows x 41 columns]

In [170]:
# in df_upozila dataset column UN_WA_C_O and in df dataset column Union if it same

In [171]:
df_upozila['UN_WA_C_O'] = df_upozila['UN_WA_C_O'].astype(str) + '.0'
print(df_upozila['UN_WA_C_O'].head())

0    20035115.0
1    20035115.0
2    20035115.0
3    20035115.0
4    20035115.0
Name: UN_WA_C_O, dtype: object

In [172]:
# df['UNION'] = df_upozila['UN_WA_C_O']
# print(df.head())

In [173]:
# Create a mapping from UN_WA_C_O to UN_WA_N_E
mapping = df_upozila.set_index('UN_WA_C_N')['UN_WA_N_E'].to_dict()

# Map the values to the Union column in df
df['UNION'] = df['Union'].map(mapping)

# Compare the values
# if df['UNION_MAPPED'].equals(df['Union']):
#     df['Union'] = df_upozila['UN_WA_N_E']
#     print('yes')
# else:
#     print('no')

print(df['UNION'])

0       Rupushipara
1       Rupushipara
2        Lama Sadar
3        Lama Sadar
4           Fythong
           ...
2513            NaN
2514            NaN
2515            NaN
2516            NaN
2517            NaN
Name: UNION, Length: 2518, dtype: object

In [174]:
df['UNION'].value_counts()

UNION
Rupushipara        615
Lama Sadar         496
Gajalia            402
Sarai              317
Fasiakhali         213
Fythong             49
Lama Pourashava     37
Aziznagar           21
Name: count, dtype: int64

In [175]:
# Add new column 'upazila' to df dataset
df['UPAZILA'] = ''

In [176]:
# Define the list of UNION values that should map to UPAZILA = 'Lama'
union_values = ['Aziznagar', 'Fasiakhali', 'Gajalia', 'Lama Sadar', 'Rupushipara', 'Sarai','Fythong','Lama Pourashava']

# Update the UPAZILA column based on the condition
df.loc[df['UNION'].isin(union_values), 'UPAZILA'] = 'Lama'

# Print the updated dataframe to verify the changes
print(df[['UNION', 'UPAZILA']].head())

         UNION UPAZILA
0  Rupushipara    Lama
1  Rupushipara    Lama
2   Lama Sadar    Lama
3   Lama Sadar    Lama
4      Fythong    Lama

In [177]:
# Create a mapping from UN_WA_C_O to UN_WA_N_E
# mapping = df_upozila.set_index('UN_WA_C_O')['UN_WA_N_E'].to_dict()

# print(mapping)

# # Map the values to the UNION column in df
# df['UNION'] = df['Union'].map(mapping)
# print(df.head())

In [178]:
# df.to_csv('updated_dataset.csv', index=False)

In [179]:
df['Type'].value_counts()

Type
kobo    2496
sms       22
Name: count, dtype: int64

In [180]:
df['Ward'].value_counts()

Ward
2.003513e+09    264
2.003517e+09    252
2.003515e+09    197
2.003517e+09    159
2.003517e+09    158
               ...
2.003513e+09      1
2.003515e+09      1
2.003516e+08      1
2.003513e+09      1
2.003042e+09      1
Name: count, Length: 93, dtype: int64

In [181]:
df['submission_time'].fillna('2024-02-28', inplace=True)
print(df['submission_time'].tail())

2513    2024-02-28
2514    2024-02-28
2515    2024-02-28
2516    2024-02-28
2517    2024-02-28
Name: submission_time, dtype: object

/var/folders/38/g1lvjpcx3f1gtcdqjh6jyt1c0000gn/T/ipykernel_21517/3812267675.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['submission_time'].fillna('2024-02-28', inplace=True)

In [182]:
null_union_count = df['UNION'].isnull().sum()
print(f"Number of null values in UNION column: {null_union_count}")

Number of null values in UNION column: 368

In [183]:
df['UNION'].fillna('Lama Sadar', inplace=True)
print(df['UNION'].tail())

2513    Lama Sadar
2514    Lama Sadar
2515    Lama Sadar
2516    Lama Sadar
2517    Lama Sadar
Name: UNION, dtype: object

/var/folders/38/g1lvjpcx3f1gtcdqjh6jyt1c0000gn/T/ipykernel_21517/1282328229.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['UNION'].fillna('Lama Sadar', inplace=True)

In [184]:
df.loc[df['UPAZILA'] != 'Lama', 'UPAZILA'] = 'Lama'
print(df['UPAZILA'].value_counts())

UPAZILA
Lama    2518
Name: count, dtype: int64

In [185]:
upazila_counts = df['UPAZILA'].value_counts()
print(upazila_counts)

UPAZILA
Lama    2518
Name: count, dtype: int64

In [186]:
# # Update the UPAZILA and UNION columns based on the condition
# df.loc[(df['UPAZILA'].isnull()) & (df['UNION'].isnull()), ['UPAZILA', 'UNION']] = ['Lama', 'Lama Sadar']

# # Print the updated dataframe to verify the changes
# print(df[['UPAZILA', 'UNION']].tail())

In [187]:
df.to_csv('updated_dataset.csv', index=False)