In [1]:
import pandas as pd

df = pd.read_csv('../data/visualization.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     2518 non-null   int64
 1   Type_of_test                   2518 non-null   object
 2   Lab_Name                       55 non-null     object
 3   Name_Of_The_Institution        2496 non-null   object
 4   Union                          2496 non-null   float64
 5   Ward                           2496 non-null   float64
 6   AP_CODE                        2518 non-null   int64
 7   Patient_Age                    2518 non-null   int64
 8   Patient_Weight                 582 non-null    float64
 9   Patient_Gender                 2518 non-null   object
 10  Pregnant                       2518 non-null   object
 11  Occupation                     2496 non-null   object
 12  Race_Group                     564 non-null    object
 13  No_household_suffered_Malaria  563 non-null    object
 14  Type_of_disease                2518 non-null   object
 15  Severe_Malaria                 2518 non-null   object
 16  Treatment_RDT                  860 non-null    object
 17  Treatment_BSE                  55 non-null     object
 18  Patient_is_referred            561 non-null    object
 19  Date_of_doing_test             2496 non-null   object
 20  Date_of_Initiation_Treatment   2496 non-null   object
 21  submission_time                2496 non-null   object
 22  Case_identification            2518 non-null   object
 23  Patient_comes_from             582 non-null    object
 24  Number_of_LLIN_House           582 non-null    float64
 25  Used_LLIN_15_days              560 non-null    object
 26  patient_latitude               446 non-null    float64
 27  patient_longitude              446 non-null    float64
 28  Lab_location_latitude          52 non-null     float64
 29  Lab_location_longitude         52 non-null     float64
 30  Phone                          22 non-null     float64
 31  Date                           22 non-null     object
 32  Type                           2518 non-null   object
 33  agegroup                       2518 non-null   object
 34  test_report                    2496 non-null   object
 35  test_treatment                 2496 non-null   object
 36  latitude                       498 non-null    float64
 37  longitude                      498 non-null    float64
 38  dt_filter                      2518 non-null   object
dtypes: float64(11), int64(3), object(25)
memory usage: 767.3+ KB
None

In [37]:
df = df.drop(columns=['Lab_Name', 'Pregnant', 'No_household_suffered_Malaria','Severe_Malaria','Treatment_RDT','Treatment_BSE','patient_latitude','patient_longitude','Lab_location_latitude','Lab_location_longitude','Phone','Date','test_report', 'test_treatment'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2518 non-null   int64
 1   Type_of_test                  2518 non-null   object
 2   Name_Of_The_Institution       2496 non-null   object
 3   Union                         2496 non-null   float64
 4   Ward                          2496 non-null   float64
 5   AP_CODE                       2518 non-null   int64
 6   Patient_Age                   2518 non-null   int64
 7   Patient_Weight                582 non-null    float64
 8   Patient_Gender                2518 non-null   object
 9   Occupation                    2496 non-null   object
 10  Race_Group                    564 non-null    object
 11  Type_of_disease               2518 non-null   object
 12  Patient_is_referred           561 non-null    object
 13  Date_of_doing_test            2496 non-null   object
 14  Date_of_Initiation_Treatment  2496 non-null   object
 15  submission_time               2496 non-null   object
 16  Case_identification           2518 non-null   object
 17  Patient_comes_from            582 non-null    object
 18  Number_of_LLIN_House          582 non-null    float64
 19  Used_LLIN_15_days             560 non-null    object
 20  Type                          2518 non-null   object
 21  agegroup                      2518 non-null   object
 22  latitude                      498 non-null    float64
 23  longitude                     498 non-null    float64
 24  dt_filter                     2518 non-null   object
dtypes: float64(6), int64(3), object(16)
memory usage: 491.9+ KB
None

In [46]:
type_of_test_counts = df['division'].value_counts()
print(type_of_test_counts)

division
Chattogram    498
Name: count, dtype: int64

In [43]:
null_count_occupation = df['agegroup'].isnull().sum()
print(null_count_occupation)

0

In [40]:
df = df.dropna(subset=['latitude'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 498 entries, 0 to 558
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    498 non-null    int64
 1   Type_of_test                  498 non-null    object
 2   Name_Of_The_Institution       498 non-null    object
 3   Union                         498 non-null    float64
 4   Ward                          498 non-null    float64
 5   AP_CODE                       498 non-null    int64
 6   Patient_Age                   498 non-null    int64
 7   Patient_Weight                498 non-null    float64
 8   Patient_Gender                498 non-null    object
 9   Occupation                    498 non-null    object
 10  Race_Group                    498 non-null    object
 11  Type_of_disease               498 non-null    object
 12  Patient_is_referred           498 non-null    object
 13  Date_of_doing_test            498 non-null    object
 14  Date_of_Initiation_Treatment  498 non-null    object
 15  submission_time               498 non-null    object
 16  Case_identification           498 non-null    object
 17  Patient_comes_from            498 non-null    object
 18  Number_of_LLIN_House          498 non-null    float64
 19  Used_LLIN_15_days             498 non-null    object
 20  Type                          498 non-null    object
 21  agegroup                      498 non-null    object
 22  latitude                      498 non-null    float64
 23  longitude                     498 non-null    float64
 24  dt_filter                     498 non-null    object
dtypes: float64(6), int64(3), object(16)
memory usage: 101.2+ KB
None

In [45]:
df['division'] = 'Chattogram'
print(df.head())

   Unnamed: 0 Type_of_test Name_Of_The_Institution        Union          Ward  \
0           1          BSE                   EKATA  200351675.0  2.003517e+09
1           2          BSE                   EKATA  200351675.0  2.003517e+09
2           3          RDT                   EKATA  200351476.0  2.003515e+09
3           4          RDT                   EKATA  200351476.0  2.003515e+09
4           5          RDT                   EKATA  200351275.0  2.003513e+09

   AP_CODE  Patient_Age  Patient_Weight Patient_Gender  Occupation  ...  \
0      486           36            57.0           Male  Woodcutter  ...
1      480           48            56.0           Male  Woodcutter  ...
2      395            6            15.0           Male       Other  ...
3      445           27            50.0           Male  Woodcutter  ...
4      104            2            10.0           Male       Other  ...

  Case_identification Patient_comes_from Number_of_LLIN_House  \
0                 PCD                 No                  3.0
1                 PCD                 No                  4.0
2                 ACD                 No                  2.0
3                 ACD                Yes                  1.0
4                 ACD                 No                  3.0

  Used_LLIN_15_days  Type agegroup   latitude  longitude   dt_filter  \
0               Yes  kobo    31-40  21.772007  92.221622  2023-01-16
1               Yes  kobo    41-50  21.772004  92.221635  2023-01-16
2               Yes  kobo      <10  21.777063  92.199523  2023-01-16
3               Yes  kobo    21-30  21.777039  92.199521  2023-01-16
4               Yes  kobo      <10  21.777032  92.199517  2023-01-16

     division
0  Chattogram
1  Chattogram
2  Chattogram
3  Chattogram
4  Chattogram

[5 rows x 26 columns]

In [47]:
print(df.shape)

(498, 26)

In [44]:
df.to_csv('../data/updated_visualization.csv', index=False)

In [2]:
df_new = pd.read_csv('../data/updated_visualization.csv')
print(df_new.head())

   Unnamed: 0 Type_of_test Name_Of_The_Institution        Union          Ward  \
0           1          BSE                   EKATA  200351675.0  2.003517e+09
1           2          BSE                   EKATA  200351675.0  2.003517e+09
2           3          RDT                   EKATA  200351476.0  2.003515e+09
3           4          RDT                   EKATA  200351476.0  2.003515e+09
4           5          RDT                   EKATA  200351275.0  2.003513e+09

   AP_CODE  Patient_Age  Patient_Weight Patient_Gender  Occupation  ...  \
0      486           36            57.0           Male  Woodcutter  ...
1      480           48            56.0           Male  Woodcutter  ...
2      395            6            15.0           Male       Other  ...
3      445           27            50.0           Male  Woodcutter  ...
4      104            2            10.0           Male       Other  ...

  submission_time Case_identification Patient_comes_from Number_of_LLIN_House  \
0      2023-01-16                 PCD                 No                  3.0
1      2023-01-16                 PCD                 No                  4.0
2      2023-01-16                 ACD                 No                  2.0
3      2023-01-16                 ACD                Yes                  1.0
4      2023-01-16                 ACD                 No                  3.0

  Used_LLIN_15_days  Type agegroup   latitude  longitude   dt_filter
0               Yes  kobo    31-40  21.772007  92.221622  2023-01-16
1               Yes  kobo    41-50  21.772004  92.221635  2023-01-16
2               Yes  kobo      <10  21.777063  92.199523  2023-01-16
3               Yes  kobo    21-30  21.777039  92.199521  2023-01-16
4               Yes  kobo      <10  21.777032  92.199517  2023-01-16

[5 rows x 25 columns]